<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark  justify-content-between py-4">
		<a class="navbar-brand" th:href="@{/home}">EMPLOYEE MANAGEMENT SYSTEM</a>
	</nav>
	<div class="container">
		<div class="row">
			<div class="mx-auto">
				<h1 class="text-center">Update Employee</h1>
				<div class="card-body">
					<form th:action="@{/updateemployee/{id}(id=${existing_employee.id})}" th:object="${existing_employee}" method="POST">
						<div class="form-group">
							<label>First name</label> <input type="text" 
								th:field="*{fname}" name="fname" class="form-control" placeholder="first name"
								aria-label="first name">
								<label>Last name</label> <input type="text" 
								 th:field="*{lname}" name="lname" class="form-control" placeholder="last name"
								aria-label="last name">
								<label>Phone</label> <input type="number" 
								 th:field="*{phno}" name="phno" class="form-control" placeholder="phone no"
								aria-label="phone no">
								<label>Email</label> <input type="email" 
								 th:field="*{email}" name="email" class="form-control" placeholder="Email"
								aria-label="Email">
						</div>
						<div class="box-footer">
						<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>